name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

# Restreindre les permissions au niveau global
permissions:
  contents: read

jobs:
  test:
    name: Test and Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@a54c0836526ba604d5598696802f099518063378 # stable
        with:
          components: rustfmt, clippy
      
      - name: Check Format
        run: cargo fmt -- --check
      
      - name: Clippy
        run: cargo clippy -- -D warnings
      
      - name: Run Tests
        run: cargo test --verbose

  security_audit:
    name: Security Audit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Run Cargo Audit
        uses: rustsec/audit-check@e238495513251a37c02b8d002b8b982136e0d37e # v2.0.0
